In [1]:
import pandas as pd 
import numpy as np
from sklearn.decomposition import NMF

In [4]:
tags = pd.read_csv('./data/tags.csv')
tags.tail()

      userId  movieId               tag   timestamp
3678     606     7382         for katie  1171234019
3679     606     7936           austere  1173392334
3680     610     3265            gun fu  1493843984
3681     610     3265  heroic bloodshed  1493843978
3682     610   168248  Heroic Bloodshed  1493844270

In [2]:
movies = pd.read_csv('./data/movies.csv')
movies.tail()

,movieId,title,genres
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [3]:
ratings = pd.read_csv('./data/ratings.csv')
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [8]:
df = pd.merge(ratings, movies, on='movieId')
df = pd.merge(df, tags, on='movieId')
df

,userId_x,movieId,rating,timestamp_x,title,genres,userId_y,tag,timestamp_y
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,336,pixar,1139045764
1,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,474,pixar,1137206825
2,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,567,fun,1525286013
3,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,336,pixar,1139045764
4,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,474,pixar,1137206825
...,...,...,...,...,...,...,...,...,...
233208,599,176419,3.5,1516604655,Mother! (2017),Drama|Horror|Mystery|Thriller,567,uncomfortable,1525287588
233209,599,176419,3.5,1516604655,Mother! (2017),Drama|Horror|Mystery|Thriller,567,unsettling,1525287586
233210,594,7023,4.5,1108972356,"Wedding Banquet, The (Xi yan) (1993)",Comedy|Drama|Romance,474,In Netflix queue,1137179697
233211,606,6107,4.0,1171324428,Night of the Shooting Stars (Notte di San Lore...,Drama|War,606,World War II,1178473747
233212,606,6516,3.5,1171755910,Anastasia (1956),Drama,474,In Netflix queue,1137202127

In [9]:
df.to_csv('./data/merged_data.csv')

In [76]:
line0 = movies['title'][0]
line0[-5:-1]

'1995'

In [78]:
ratings['userId'].nunique()

610

In [79]:
ratings['movieId'].nunique()

9724

In [80]:
ratings.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [81]:
ratings['rating'].describe()

count    100836.000000
mean          3.501557
std           1.042529
min           0.500000
25%           3.000000
50%           3.500000
75%           4.000000
max           5.000000
Name: rating, dtype: float64

In [82]:
ratings.index = ratings['userId']
ratings

        userId  movieId  rating   timestamp
userId
1            1        1     4.0   964982703
1            1        3     4.0   964981247
1            1        6     4.0   964982224
1            1       47     5.0   964983815
1            1       50     5.0   964982931
...        ...      ...     ...         ...
610        610   166534     4.0  1493848402
610        610   168248     5.0  1493850091
610        610   168250     5.0  1494273047
610        610   168252     5.0  1493846352
610        610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [83]:
ratings_pivot = ratings.pivot(index='userId', columns='movieId', values='rating')
ratings_pivot

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,NaN,NaN,NaN,NaN,NaN,2.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,2.5,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
ratings_pivot.replace(np.nan, 0, inplace=True)
ratings_pivot

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,2.5,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
609,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [85]:
model = NMF(n_components=2, init='random', random_state=10, max_iter=1000)
model.fit(ratings_pivot)

Q = model.components_  # movie-genre matrix
P = model.transform(ratings_pivot)  # user-genre matrix
Q.shape, P.shape

((2, 9724), (610, 2))

In [86]:
pd.DataFrame(Q, columns=ratings_pivot.columns)

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
0,1.737684,1.226412,0.000000,0.000000,0.150590,0.704880,0.000000,0.047771,0.000000,0.665013,...,0.008568,0.007344,0.009793,0.009793,0.008568,0.009793,0.008568,0.008568,0.008568,0.027797
1,2.436906,1.090146,0.902209,0.069078,0.512729,1.639061,0.742909,0.123019,0.132145,1.687621,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [87]:
error = round(model.reconstruction_err_, 2)
error

1004.87

In [88]:
R_hat = pd.DataFrame(np.dot(P, Q), columns=ratings_pivot.columns, index=ratings_pivot.index)
R_hat

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,2.453678,1.116700,0.881125,0.067463,0.507136,1.630662,0.725548,0.122171,0.129057,1.676396,...,0.000364,0.000312,0.000415,0.000415,0.000364,0.000415,0.000364,0.000364,0.000364,0.001179
2,0.223888,0.158014,0.000000,0.000000,0.019402,0.090819,0.000000,0.006155,0.000000,0.085682,...,0.001104,0.000946,0.001262,0.001262,0.001104,0.001262,0.001104,0.001104,0.001104,0.003581
3,0.065591,0.029342,0.024284,0.001859,0.013800,0.044116,0.019996,0.003311,0.003557,0.045423,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,1.568930,0.701859,0.580860,0.044474,0.330105,1.055261,0.478300,0.079202,0.085078,1.086525,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,0.572459,0.256089,0.211940,0.016227,0.120446,0.385036,0.174518,0.028899,0.031042,0.396443,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,4.574252,2.260984,1.385928,0.106114,0.859627,2.854852,1.141220,0.211816,0.202995,2.910387,...,0.004097,0.003511,0.004682,0.004682,0.004097,0.004682,0.004097,0.004097,0.004097,0.013290
607,1.767108,0.790514,0.654231,0.050091,0.371802,1.188556,0.538716,0.089207,0.095824,1.223769,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
608,4.339710,2.332332,1.046566,0.080130,0.725877,2.515011,0.861777,0.184294,0.153289,2.536631,...,0.007460,0.006394,0.008526,0.008526,0.007460,0.008526,0.007460,0.007460,0.007460,0.024201
609,0.368792,0.164979,0.136537,0.010454,0.077594,0.248049,0.112429,0.018617,0.019998,0.255398,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
610,4.114017,2.883477,0.028780,0.002204,0.366146,1.689574,0.023698,0.114885,0.004215,1.598523,...,0.019903,0.017060,0.022746,0.022746,0.019903,0.022746,0.019903,0.019903,0.019903,0.064567

In [89]:
new_user_input = {1: 3,  2: 4}
new_user_input

{1: 3, 2: 4}

In [90]:
new_user = pd.DataFrame(new_user_input, index=['611'], columns=ratings_pivot.columns)
new_user

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
611,3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [91]:
new_user = new_user.fillna(0)
new_user

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
611,3,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [93]:
user_P = model.transform(new_user)
user_P

array([[0.00354829, 0.00866737]])

In [95]:
user_R = pd.DataFrame(np.dot(user_P, Q), index=['611'], columns=ratings_pivot.columns)
user_R

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
611,0.027287,0.0138,0.00782,0.000599,0.004978,0.016707,0.006439,0.001236,0.001145,0.016987,...,0.00003,0.000026,0.000035,0.000035,0.00003,0.000035,0.00003,0.00003,0.00003,0.000099

In [96]:
recommendations = user_R.drop(columns=new_user_input.keys())
recommendations

movieId,3,4,5,6,7,8,9,10,11,12,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
611,0.00782,0.000599,0.004978,0.016707,0.006439,0.001236,0.001145,0.016987,0.011786,0.001716,...,0.00003,0.000026,0.000035,0.000035,0.00003,0.000035,0.00003,0.00003,0.00003,0.000099

In [97]:
recommendations.T.sort_values(by='611', ascending=False)

              611
movieId
296      0.038168
356      0.037122
593      0.035393
318      0.035028
260      0.034689
...           ...
2226     0.000002
65350    0.000001
89386    0.000001
85334    0.000001
26095    0.000001

[9722 rows x 1 columns]